.ins-lg {
  width: 75px;
  margin: 20px 0;
  
}
h1 {
  margin: 20px 30px;
}
.ins {
  display: flex;
  width: 400px;
  justify-content:space-around;
  padding-bottom: 400px;
  padding-top: 30px;
}
.media-link {
  display: flex;;
  flex-direction: column;
  margin: 5px 0;
}
