*,
*:before,
*:after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}
html {
  box-sizing: border-box;
}
/* Menu */
.navbar-dark .navbar-nav .nav-link {
  font-family: 'Montserrat', sans-serif;
  color: white !important;
}
nav.navbar.navbar-expand-lg.navbar-dark.bg-dark {
  background-color: black !important;
}
.navbar-dark .navbar-nav .nav-link:focus, .navbar-dark .navbar-nav .nav-link:hover {
  color: black !important;
  background-color: white;
}
.navbar-brand {
  padding: 0 5px;
  border: 2px solid white;
}
body {
  background-color: #f8f9fa !important;
  height: 100%;
  min-height: 100%;
}
/*footer*/
.footer{
  clear: both;
  position: relative;
  height: 100px;
  margin: 0 0;
  padding-bottom: 15px;
  text-align: center;
  font-size: small;
  font-family: 'Montserrat', sans-serif;
  color: white;
  background-color: black;
  border: 1px solid black;
}
.resources {
  margin: 10px 15px;
  padding-left: 10px;
}
h2,h3 {
  margin: 15px 10px;
}
.link, .lk-intro {
  margin: 0 10px;
}
p {
  padding-bottom: 10px;
}



/* Mobile Styles */
@media only screen and (max-width: 400px) {
  
}
/* Tablet Styles */
@media only screen and (min-width: 401px) and (max-width: 960px) {
  .masonry { /* Masonry container */
    column-count: 2;
    column-gap: 1em;
    margin: 3em auto;
    max-width: 80%;
  }
  
}
/* Desktop Styles */
@media only screen and (min-width: 961px) {
  .masonry { /* Masonry container */
    column-count: 3;
    column-gap: 1.5em;
    margin: 5em auto;
    max-width: 80%;
  }
  
}